@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #e5e2e1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.leaflet-container {
  background-color: #131313 !important;
  font-family: var(--font-inter), sans-serif;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: #1A1A1A;
  color: #e5e2e1;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
}
.custom-popup .leaflet-popup-tip {
  background-color: #1A1A1A;
}
